/* General Layout
========================== */

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

article, footer, header, section {
	background-color: #45C18E;
	color: #fff;
}

h1 {
	padding: 0;
	font-size: 2.75em;
	line-height: 52px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.hero {
	background-position: 50% 100%;
	text-align: center;
	background-image: url("../public/img/iphone.png");
	background-repeat: no-repeat;
	background-size: auto 70%;
}

.container { /* to fill the entire viewport */
	width: 100%; 
	padding-right: 0px;
	padding-left: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.content { /* content justified box */

	width: 75%;
	margin: 0 auto;
}

/* Icon & Logo Fonts
========================== */

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo {
	font-family: "GFS Didot";
	text-transform: lowercase !important;
	font-size: 1.5em !important;	
	border: solid;
	border-radius: 10px;
	border-width: medium;
	padding: 5px;
	margin-top: 10px;
}

/* Banner
========================== */

.banner:before { /* multi-color bar */
	content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.banner .content {
	text-align: justify;
	padding-top: 10px;
}

.banner a {
	color: #fff;
	display: inline-block;
	text-decoration: none;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 0.75em;
}

.banner .content:after {
	content: "";
	display: inline-block;
	width: 100%;
}

/* Hero
========================== */

section {
	position: relative; /* set the various elements relative to the hero container*/
}

.hero {
	height: 530px;
}

.headline {
	padding: 10px 0;
}

.call-to-action {
	margin: 20px 0;
}

.message {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.15);
}

.ft {
	position: relative;
	margin: 20px 0;
	padding-left: 30px;
	padding-right: 30px;
	vertical-align: middle;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* Ecosystem
========================== */

.ecosystem {
	background: #fff;
	color: dimgray;
	letter-spacing: 1px;
	padding: 30px 0;
	border-bottom: solid 1px #D8D8D8;
}

.ecosystem .row {
	padding: 30px 0;
}

.ft-icon {
	margin: auto;	
}

.ft-text {
	font-size: 1.3125em;
	font-weight: 300;
	padding-top: 10px;
}

.ft-text a {
	font-weight: 400;
}

/* Final Claim
========================== */

.claim {
	text-align: center;
}

.claim h3 {
	line-height: 1.5;
	padding-bottom: 20px;
}

.last {
	padding: 0 100px;
}

/* Footer
========================== */

.footer {
	background: #fff;
	color: dimgray;
	letter-spacing: 1px;
	padding: 20px 0;
}

/* Jumbotron
========================== */

.jumbotron {
	text-align: center;
	background: white;
	padding-bottom: 40px;
}

.jumbotron h2 {
	padding-bottom: 25px;
}

/* Special IDs
========================== */

#hero-image {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#features {
	background: #f6f8f8;
	padding: 30px;
	border-top: 1px solid #dadfe1;
}

#features .img-responsive {
	max-width: 75%;
	display: inline-block;
} 

#claim {
	background: #f6f8f8;
	border-bottom: 1px solid #dadfe1;
}

#claim p {
	text-align: center;
	padding: 30px 160px; 
	font-size: 1.25em;
	letter-spacing: 1px;
	font-weight: 100;
	color: dimgray;
}

#footer {
	margin: 0px;
	padding: 10px 0 0 0;
	border-top: 1px solid #dadfe1;
	background: #f6f8f8;
}

/* Button 
========================== */

.form-group {
	width: 225px;
}

button {
	margin-left: 10px;
}

/* Glyphicons
========================== */

.glyphicon {
	font-size: 3.2em;
	display: block;
	margin: auto;
}

.glyphicon-gift {
	color: #3498db;
}

/* Logos & Icons
========================== */

.logo {
	text-transform: lowercase;
}

.main-logo {
	width: 45px;
	height: 45px;
	margin-top: 3px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
}


[data-icon]::before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 3.2em;
}


/* Media Queries
========================== */

/* Small resolution 
========================== */

@media screen and (max-width: 650px) {
	.hero {
		background: none; 
	}
	h1 {
		font-size: 2em;
	}
	.form-group {
		width: 100%;
	}
	button {
		margin-left: 0px;
		display: block;
	}
	.ecosystem .row {
		padding: 15px 0;
		border-bottom: solid 1px #D8D8D8; 
	}
	.ecosystem .row:last-child {
		padding: 15px 0;
		border-bottom: none; 
	}
	.content h2 {
		font-size: 21px;
	}
	.content p {
		font-size: 16px;
	}
	.ft-icon {
		max-width: 65%;
	}
	.last {
		display: none;
	}
	.footer p {
		font-size: 14px;
		letter-spacing: 0;
		text-align: center;
	}
}

