/* General Layout
========================== */

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1000px;
}

.col-sm-2 {
	text-align: center;
	padding-right: 20px;
	padding-left: 20px;
}

.col-sm-2 a {
	text-decoration: none;
	color: inherit;
}

.ft-icon {
	height: 80px;
}

.ft-text {
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
}

/* Navbar
========================== */

.navbar {
	background: #f6f8f8;
	border-bottom: 1px solid #dadfe1;
	padding: 30px 128px;
	margin: 0px;
	height: 99px;
	font-size: 18px;
	list-style: none;
	text-decoration: none;
	color: inherit;
}

.navbar-text {
	margin-right: 0;
	font-size: 18px;
	text-transform: capitalize;
}

/* Jumbotron
========================== */

.jumbotron {
	text-align: center;
	
	background: white;
	padding-bottom: 40px;
}

.jumbotron h2 {
	padding-bottom: 25px;
}

/* Special IDs
========================== */

#hero-image {
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

#features {
	background: #f6f8f8;
	padding: 30px;
	border-top: 1px solid #dadfe1;
}

#claim {
	background: #f6f8f8;
	border-bottom: 1px solid #dadfe1;
}

#claim p {
	text-align: center;
	font-style: italic;
	padding: 30px 160px; 
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 250;
}

#footer {
	margin: 30px;
}

/* Button 
========================== */

.form-group {
	width: 225px;
}

button {
	margin-left: 10px;
}

/* Glyphicons
========================== */

.glyphicon {
	font-size: 3.2em;
	display: block;
	margin: auto;
}

.glyphicon-gift {
	color: #3498db;
}

/* Logos & Icons
========================== */

.main-logo {
	width: 45px;
	height: 45px;
	margin-top: 3px;
	margin-left: 0px;
	margin-bottom: 0px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background: url('../img/logo.png') no-repeat;
	background-size: 100%;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]::before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 3.2em;
}

[data-icon='\e60f'] {
	color: #028F76;
}

[data-icon='\e614'] {
	color: #E08E79;
}

[data-icon='\e60a'] {
	color: #0B486B;
}

[data-icon='\e601'] {
	color: #EDC951;
}

[data-icon='\e613'] {
	color: #A8E6CE;
}
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}



